* {
  margin-left: 25px !important;
  margin-right: 25px !important;
}

.header {
  background-color: #6baeec;
  padding-top: 10px;
  margin-bottom: 20px;
}
nav {
  text-align: center;
  padding-top: 10px;
  margin-top: 15px;
}
.navbar {
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  color: aliceblue;
}
.heading {
  font-size: 40px;
  padding: 10px 0;
  font-weight: 800;
}
.paragraph {
  font-size: 20px;
}
#input > input {
  margin: 20px 0px;
  border-radius: 10px;
  border: none;
}
#email {
  width: 300px;
  padding: 20px 0 20px 5px;
}
.submit {
  width: 100px;
  padding: 20px 0 20px 5px;
  background-color: rgb(145, 180, 244);
  border: none;
  border-radius: 10px;
  font-size: 20px;
}
#submit:hover {
  background-color: rgb(241, 191, 97);
}
#img {
  width: 350px;
  border-radius: 10px;
}
.flex {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 50px;
}
#input {
  display: flex;
}

.profile {
  width: 450px;
}

#section1 {
  padding-top: 40px;
  margin: 100px 0;
}

#sectionflex {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

/* #profileflex1 {
  display: flex;
  flex-direction: column;
  column-gap: 5px;
  align-items: center;
} */

#profileflex2 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.details {
  padding: 30px 0;
  width: 450px;
  text-align: center;
  margin-bottom: 10px;
  box-shadow: 0 0 5px 5px rgb(231, 231, 239);
  border-radius: 10px;
}
.details > img {
  width: 60px;
}

#section2 {
  margin: 100px 0;
  /* background-color: #add3f8; */
}
#section-flex {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

#section2-details {
}

#read-more {
  margin: 20px 0;
  background-color: orange;
  font-size: 20px;
  border-radius: 20px;
  border: none;
  width: 200px;
  padding: 20px;
}

#section2-bottom {
  background-color: #6baeec;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
}

.get-started {
  margin: 20px 0;
  background-color: rgb(243, 100, 241);
  font-size: 20px;
  border-radius: 10px;
  border: none;
  width: 200px;
  padding: 20px;
}

#section-3 {
  margin: 100px 0 100px 0;
}

#section3-flex {
  display: grid;
  gap: 20px;
  justify-content: center;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto auto;
}

#global-audience {
  padding: 40px;
  font-size: 16px;
  text-align: center;
  background-color: #ec6bec;
  width: 300px;
  border-radius: 20px;
}
#audience-age {
  padding: 40px;
  font-size: 16px;
  text-align: center;
  background-color: orange;
  width: 300px;
  border-radius: 20px;
}
#content {
  padding: 40px;
  font-size: 16px;
  text-align: center;
  background-color: rgb(125, 235, 150);
  width: 300px;
  border-radius: 20px;
}
#campaigns {
  padding: 40px;
  font-size: 16px;
  text-align: center;
  background-color: rgb(127, 231, 236);
  width: 300px;
  border-radius: 20px;
}

.audience {
  font-size: 50px;
  font-weight: 900;
}

#section-4 {
  margin: 100px 0 100px 0;
}

#title {
  text-align: center;
  margin-bottom: 30px;
  padding: 20px 0;
}

.section-4-title {
  font-size: 50px;
  font-weight: 400;
}
#section4-flex {
  display: grid;
  gap: 10px;
  column-gap: 5px;
  justify-content: center;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto auto;
}

#seo {
  padding: 10px;
  font-size: 16px;
  text-align: center;
  background-color: #ec6bec;
  width: 300px;
  border-radius: 20px;
}

#development {
  padding: 10px;
  font-size: 16px;
  text-align: center;
  background-color: #ec6bec;
  width: 300px;
  border-radius: 20px;
}
#web-design {
  padding: 10px;
  font-size: 16px;
  text-align: center;
  background-color: #ec6bec;
  width: 300px;
  border-radius: 20px;
}
#cms {
  padding: 10px;
  font-size: 16px;
  text-align: center;
  background-color: #ec6bec;
  width: 300px;
  border-radius: 20px;
}
#maintaince {
  padding: 10px;
  font-size: 16px;
  text-align: center;
  background-color: #ec6bec;
  width: 300px;
  border-radius: 20px;
}
#hosting {
  padding: 10px;
  font-size: 16px;
  text-align: center;
  background-color: #ec6bec;
  width: 300px;
  border-radius: 20px;
}
.seo-img {
  width: 70px;
}
.seo-title {
  font-size: 25px;
}
#section-5 {
  background-color: orange;
  padding: 40px 0;
}
#banner2 {
  width: 400px;
}
#section-5-flex {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px 0;
}
#form {
  background-color: aliceblue;
  border-radius: 20px;
  padding: 20px 10px;
}
.section-5-input {
  padding: 10px 5px;
  border-radius: 10px;
  border: none;
  margin: 10px 0;
}
#message {
  border-radius: 10px;
  margin: 10px 0px;
  padding: 0 10px;
}
#contact {
  background-color: white;
  border-radius: 10px;
  text-align: center;
}
.reviews {
  background-color: azure;
  width: 400px;
  margin: 10px 0;
  padding: 50px 10px;
}
#reviews-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
#section-6-title {
  text-align: center;
}
#footer {
  margin-top: 40px;
  background-color: black;
  color: white;
  text-align: center;
  padding: 100px 0;
}
